---
layout: "default"
title: "Body of Work"
---
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<link rel="stylesheet" href="awesomplete.css" />

<style type="text/css" media="screen">
.project-box.hidden {
    background-color: pink;
}
</style>

<h1>Body of Work</h1>

<input id="search-bow" autocomplete="off" placeholder="filter by" />


<div id="projects">
{% for project in site.data.projects %}
    <div id="{{project.name | slugify}}" class="card project-box"
    {% if project.tasks != nil %}
        data-tasks="{{project.tasks | join:','}}"
    {% endif %}
    {% if project.technologies != nil %}
        data-technologies="{{project.technologies | join:','}}"
    {% endif %}
    >
        <div class="card-image" {% if project.image %}style="background-image:url({{project.image}});{%if project.image_css%}{{project.image_css}}{% endif %}" {% endif %}></div>
        <div class="card-header">
          <h2>{{project.name}}<span class="more">{% if project.type %} {{project.type}},{% endif %} {{project.date}}</span></h2>
          <div class="more">
            <div class="links">
                {% if project.link %}
                    <a href="{{project.link}}" target="_blank"><i class="fa fa-link fa-2x"></i></a>
                {% endif %}
                {% if project.github %}
                    <a href="https://www.github.com/{{project.github}}" target="_blank"><i class="fa fa-github fa-2x"></i></a>
                {% endif %}
            </div>
            {% if project.tasks %}
                <h3 class="tasks">{{project.tasks|array_to_sentence_string }}</h3>
            {% endif %}
          </div>
        </div>
        <div class="card-copy">
          <p>{{project.pitch|markdownify}}
            <a href="#{{project.name | slugify}}" class="hide-on-more">read more</a>
          </p>

          <div class="more">
              <p>{{project.desc|markdownify}}</p>
              <p class="badges">
                {% for task in project.technologies %}
                    <span class="task-badge">{{task}}</span>
                {% endfor %}
              </p>
            </div>
        </div>
    </div>
{% endfor %}
</div>


<script src="awesomplete.min.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript" charset="utf-8">
(function(){
    var tags = [];

{% for project in site.data.projects %}
    {% if project.tasks != nil %}
        tags = tags.concat({{project.tasks | jsonify}})
    {% endif %}
    {% if project.technologies != nil %}
        tags = tags.concat({{project.technologies | jsonify}})
    {% endif %}
{% endfor %}

    function _each(lst, fn){
        if (lst.length === 0) return;
        for (var x=0; x<lst.length; x++){
            fn(lst[x], x, lst);
        }
    }

    function getTags(obj) {
        var keys = ["tasks", "technologies"],
            found = [];

        for (var x=0;x<keys.length;x++){
            if (obj.dataset[keys[x]]){
                found = found.concat(obj.dataset[keys[x]].split(','))
            }
        }
        return found;
    }

    function containsAny(target, keys){
        console.log(target, keys);
        for (var ki=0; ki < keys.length; ki++){
            if(target.indexOf(keys[ki]) > -1){
                return true;
            }
        }
        return false;
    }


    var searchInput = document.getElementById("search-bow");


    function refreshBoxes(evt){
        var keys = searchInput.value.split(", "),
            boxes = document.getElementsByClassName('project-box');

        if (keys.length == 1 && keys[0] == ""){
            // reset: nothing found
            return _each(boxes, function(b){b.classList.remove("hidden")})
        }

        for (var i=0; i < boxes.length; i++){
            var box = boxes[i];
            if (containsAny(getTags(box), keys)){
                box.classList.remove("hidden")
            } else {
                box.classList.add("hidden")
            }
        }
    }



    var awesomplete = new Awesomplete(searchInput, {
        filter: function(text, input) {
            return Awesomplete.FILTER_CONTAINS(text, input.match(/[^,]*$/)[0]);
        },
        replace: function(text) {
            var before = this.input.value.match(/^.+,\s*|/)[0];
            this.input.value = before + text + ", ";
        },
    });
    awesomplete.list = tags.filter(function(el,i,a){return i==a.indexOf(el);}).sort()

    searchInput.addEventListener('awesomplete-selectcomplete', refreshBoxes);

    searchInput.addEventListener('keyup', function(evt){
        [13, 27].indexOf(evt.keyCode) > -1 && refreshBoxes()
    });

    /// ------------------ DONE FILTER

    function clearActive(){
        _each(document.getElementsByClassName('active-box'), function(elem){
            elem.classList.remove('active-box');
        })
    }

    _each(document.getElementsByClassName('project-box'), function(elem){
        elem.addEventListener('click', function(){
            if (elem.classList.contains("active-box")){
                elem.classList.remove("active-box");
            } else {
                clearActive();
                elem.classList.add("active-box");
            }
        });
    });
})();
</script>