<footer class="site-footer">
  <p>
      <ul class="social-links">
        <li>
          <a href="https://www.twitter.com/sirDonQui/"><i class="fa fa-twitter"></i></a>
        </li>
        <li>
          <a href="https://de.linkedin.com/in/benjaminkampmann"><i class="fa fa-linkedin"></i></a>
        </li>
        <li>
          <a href="https://www.github.com/ligthyear/"><i class="fa fa-github-alt"></i></a>
        </li>
        <li>
        </li>
        <li>
          <a href="mailto:ben{at}create-build-execute[.]com"><i class="fa fa-envelope"></i></a>
        </li>
        <li>
          <a href="/feed.xml"><i class="fa fa-rss"></i></a>
        </li>
      </ul>
    </p>
  <h2><a href="/">Create.Build.Execute.</a></h2>
</footer>
