<footer class="site-footer">
  <p>
      <ul class="social-links">
        <li>
          <a href="https://www.twitter.com/sirDonQui/"><i class="fa fa-twitter"></i></a>
        </li>
        <li>
          <a href="https://de.linkedin.com/in/benjaminkampmann"><i class="fa fa-linkedin"></i></a>
        </li>
        <li>
          <a href="https://www.github.com/ligthyear/"><i class="fa fa-github-alt"></i></a>
        </li>
        <li>
          <a href="https://forum.safenetwork.io/users/lightyear/activity"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 210 120" enable-background="new 0 0 210 120"><style type="text/css">.st0{fill:#99BEE7;} .st1{fill:#5593D7;} .st2{fill:#29578A;}</style><path class="st0" d="M134 42v71.1L74.1 78.6c-17.8-10.3-16.5-16.7-16.6-31l61.6 35.6V50.6L134 42z"/><path class="st1" d="M119.1 83.1L57.5 47.5l59.9-34.6c17.8-10.2 22.7-5.9 35.2 1.2L91 49.7l28.1 16.2v17.2z"/><path class="st2" d="M91 49.7l61.6-35.6v69.1c-.1 20.6-6.3 22.6-18.6 29.9V42l-28.1 16.2L91 49.7z"/></svg></a>
        </li>

        <li>
        </li>
        <li>
          <a href="mailto:ben{at}create-build-execute[.]com"><i class="fa fa-envelope"></i></a>
        </li>
        <li>
          <a href="/feed.xml"><i class="fa fa-rss"></i></a>
        </li>
      </ul>
    </p>
  <h2><a href="/">Create.Build.Execute.</a></h2>
</footer>
