---
layout: page
title: Latest Publications
permalink: /writings/
redirect_from:
  - /blog/
---


<div class="publications">

  <a href="/dapp-book/" title="ĐApp Primer">
  <img src="/ebooks/dapp-book-cover.jpg" alt="ĐApp Book - 
A primer to decentributed Web App Development" /></a>
  <a href="/saas-pricing/" title="SaaS App Pricing"><img src="/ebooks/saas-book-cover.jpg" alt="SaaS App Pricing Book Cover"></a>
</div>


<div class="publications">

  <a href="/talks/fosdem-2017-time-to-safe-the-internet/" title="FOSDEM 2017: It's time to SAFE the internet">
  <img src="/assets/posts/2017-02-10-fosdem-talk.png" alt="FOSDEM 2017: It's time to SAFE the internet" /></a>
</div>

<div>
<ul class="post-list-short">
  <li><h2>Tech</h2>
    <ul>
      {% for post in site.categories.tech limit:6 %}
        <li>
          <h3>
            <span class="post-meta">{{ post.date | date: "%b %d, %Y" }}</span> <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          </h3>
        </li>
      {% endfor %}
      <a href="/writings/tech/">more...</a>
    </ul>
  </li>

  <li><h2>Community</h2>
    <ul>
      {% for post in site.categories.community limit:6 %}
        <li>
          <h3>
            <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span> <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          </h3>
        </li>
      {% endfor %}
      <a href="/writings/community/">more...</a>
    </ul>
  </li>

  <li><h2>Entrepreneuring</h2>
    <ul>
      {% for post in site.categories.business limit:6 %}
        <li>
          <h3>
            <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span> <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          </h3>
        </li>
      {% endfor %}
      <a href="/writings/entrepreneuring/">more...</a>
    </ul>
  </li>

  <li><h2>Personal</h2>
    <ul>
      {% for post in site.categories.personal limit:6 %}
        <li>
          <h3>
            <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span> <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          </h3>
        </li>
      {% endfor %}
      <a href="/writings/personal/">more...</a>
    </ul>
  </li>
</ul>

  <p class="rss-subscribe"><a href="/writings/all/">See all</a> or subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
