---
layout: page
title: Latest Publications
permalink: /writings/
redirect_from:
  - /blog/
---


<div class="publications">

  <a href="https://www.youtube.com/watch?v=H1bfZcq7OVg">
    <img src="/assets/posts/talk-behold-the-future.png" alt="Sub 0.1: Behold the Future is Upons us">
  </a>
  <a href="/saas-pricing/" title="SaaS App Pricing"><img src="/ebooks/saas-book-cover.jpg" alt="SaaS App Pricing Book Cover"></a>
</div>

<div>
  <ul class="post-list-short">
    <li><h2>Talks</h2>
      <ul>
        <li>
          <a href="https://www.youtube.com/watch?v=H1bfZcq7OVg">
            Behold the Future is Upon us – Updates on Substrate at Sub0.1
          </a>
        </li>
        <li>
          <a href="https://www.youtube.com/watch?v=Bamo8xjPzVc">
            A New Dawn: Building DApps with Substrate
          </a>
        </li>
        <li>
          <a href="/talks/wasm-in-the-wild/" title="Rust Cologne 2018: WASM in the Wild">
            Rust Cologne 2018: WASM in the Wild
          </a>
        </li>
        <li>
          <a href="https://www.youtube.com/watch?v=ND1UhSzvgAk">
            BOB 2017: privacy-first data structures on SAFE
          </a>
        </li>
        <li>
          <a href="/talks/fosdem-2017-time-to-safe-the-internet/" title="FOSDEM 2017: It's time to SAFE the internet">
            FOSDEM 2017: Time to SAFE the internet
          </a>
        </li>
      </ul>
    </li>
  </ul>
</div>

<div>
<ul class="post-list-short">
  <li><h2>Tech</h2>
    <ul>
      {% for post in site.categories.tech limit:6 %}
        <li>
          <h3>
            <span class="post-meta">{{ post.date | date: "%b %d, %Y" }}</span> <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          </h3>
        </li>
      {% endfor %}
      <a href="/writings/tech/">more...</a>
    </ul>
  </li>

  <li><h2>Community</h2>
    <ul>
      {% for post in site.categories.community limit:6 %}
        <li>
          <h3>
            <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span> <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          </h3>
        </li>
      {% endfor %}
      <a href="/writings/community/">more...</a>
    </ul>
  </li>

  <li><h2>Society &amp; Politics</h2>
    <ul>
      {% for post in site.categories.so-po limit:6 %}
        <li>
          <h3>
            <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span> <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          </h3>
        </li>
      {% endfor %}
      <a href="/writings/society-and-politics/">more...</a>
    </ul>
  </li>


  <li><h2>Entrepreneuring</h2>
    <ul>
      {% for post in site.categories.business limit:6 %}
        <li>
          <h3>
            <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span> <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          </h3>
        </li>
      {% endfor %}
      <a href="/writings/entrepreneuring/">more...</a>
    </ul>
  </li>

  <li><h2>Personal</h2>
    <ul>
      {% for post in site.categories.personal limit:6 %}
        <li>
          <h3>
            <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span> <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          </h3>
        </li>
      {% endfor %}
      <a href="/writings/personal/">more...</a>
    </ul>
  </li>
</ul>

  <p class="rss-subscribe"><a href="/writings/all/">See all</a> or subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
