---
layout: "default"
title: "Body of Work"
permalink: "/body-of-work/"
---

<link rel="stylesheet" href="awesomplete.css" />

<h1>Body of Work</h1>

<p>(latest works first, excludes <a href="/blog">writings</a>)</p>

<div class="expander">
  <a href="javascript:void(0)" id="js-expander-trigger" class="expander-trigger expander-hidden">filter</a>
  <div id="js-expander-content" class="expander-content">
      <input id="search-bow" autocomplete="off" placeholder="filter by" />
      <ul id="all-filter"></ul>
  </div>
</div>


<div id="projects">
{% for project in site.data.projects %}
    <div id="{{project.name | slugify}}" class="card project-box"
    {% if project.tasks != nil %}
        data-tasks="{{project.tasks | join:','}}"
    {% endif %}
    {% if project.technologies != nil %}
        data-technologies="{{project.technologies | join:','}}"
    {% endif %}
    >

        {% if project.github %}
            <div class="ribbon">OpenSource</div>
        {% endif %}


        <div class="card-image" {% if project.image %}style="background-image:url({{project.image}});{%if project.image_css%}{{project.image_css}}{% endif %}" {% endif %}></div>
        <div class="card-header">
          <h2>{{project.name}}<span class="more">{% if project.type %} {{project.type}},{% endif %} {{project.date}}</span></h2>
          <div class="more">
            <div class="links">
                {% if project.link %}
                    <a href="{{project.link}}" target="_blank"><i class="fa fa-link fa-2x"></i></a>
                {% endif %}
                {% if project.github %}
                    <a href="https://www.github.com/{{project.github}}" target="_blank"><i class="fa fa-github fa-2x"></i></a>
                {% endif %}
            </div>
            {% if project.tasks %}
                <h3 class="tasks">{{project.tasks|array_to_sentence_string }}</h3>
            {% endif %}
          </div>
        </div>
        <div class="card-copy">
          <p>{{project.pitch|markdownify}}
            <a href="#{{project.name | slugify}}" class="hide-on-more">read more</a>
          </p>

          <div class="more">
              <p>{{project.desc|markdownify}}</p>
              <p class="badges">
                {% for task in project.technologies %}
                    <span class="task-badge">{{task}}</span>
                {% endfor %}
              </p>
            </div>
        </div>
    </div>
{% endfor %}
</div>


<script src="awesomplete.min.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript" charset="utf-8">
(function(window) {

  // exit if the browser implements that event
  if ( "onhashchange" in window.document.body ) { return; }

  var location = window.location,
    oldURL = location.href,
    oldHash = location.hash;

  // check the location hash on a 100ms interval
  setInterval(function() {
    var newURL = location.href,
      newHash = location.hash;

    // if the hash has changed and a handler has been bound...
    if ( newHash != oldHash && typeof window.onhashchange === "function" ) {
      // execute the handler
      window.onhashchange({
        type: "hashchange",
        oldURL: oldURL,
        newURL: newURL
      });

      oldURL = newURL;
      oldHash = newHash;
    }
  }, 100);

})(window);

(function(){
    var tags = [];

{% for project in site.data.projects %}
    {% if project.tasks != nil %}
        tags = tags.concat({{project.tasks | jsonify}})
    {% endif %}
    {% if project.technologies != nil %}
        tags = tags.concat({{project.technologies | jsonify}})
    {% endif %}
{% endfor %}


    tags = tags.filter(function(el,i,a){return i==a.indexOf(el);}).sort()

    function _each(lst, fn){
        if (lst.length === 0) return;
        for (var x=0; x<lst.length; x++){
            fn(lst[x], x, lst);
        }
    }

    function getTags(obj) {
        var keys = ["tasks", "technologies"],
            found = [];

        for (var x=0;x<keys.length;x++){
            if (obj.dataset[keys[x]]){
                found = found.concat(obj.dataset[keys[x]].split(','))
            }
        }
        return found;
    }

    function containsAny(target, keys){
        for (var ki=0; ki < keys.length; ki++){
            if(target.indexOf(keys[ki]) > -1){
                return true;
            }
        }
        return false;
    }

    function toggleClassOnClick(elem, cls){
      return elem.addEventListener('click', function(evt){
        elem.classList.contains(cls) ? elem.classList.remove(cls) : elem.classList.add(cls)
        evt.preventDefault();
        });
    }


    var searchInput = document.getElementById("search-bow");


    function refreshBoxes(evt){
        var keys = searchInput.value.split(", "),
            boxes = document.getElementsByClassName('project-box'),
            selectors = document.getElementById('all-filter').children;

        if (keys.length == 1 && keys[0] == ""){
            // reset: nothing found
            _each(boxes, function(b){b.classList.remove("hidden")})
            _each(selectors, function(s){s.classList.remove('active')})
            return;
        }

        _each(boxes, function(box){
            if (containsAny(getTags(box), keys)){
                box.classList.remove("hidden")
            } else {
                box.classList.add("hidden")
            }
        });

        _each(selectors, function(selector){
            if(keys.indexOf(selector.dataset.name) > -1){
                selector.classList.add("active");
            } else {
                selector.classList.remove("active");
            }
        });
    }



    var awesomplete = new Awesomplete(searchInput, {
        list: tags,
        filter: function(text, input) {
            return Awesomplete.FILTER_CONTAINS(text, input.match(/[^,]*$/)[0]);
        },
        replace: function(text) {
            var before = this.input.value.match(/^.+,\s*|/)[0];
            this.input.value = before + text + ", ";
        },
    });

    var filterItems = [];
    _each(tags, function(x){
        filterItems.push('<li data-name="' + x + '">' + x + '</li>');
    });

    searchInput.addEventListener('awesomplete-selectcomplete', refreshBoxes);

    searchInput.addEventListener('keyup', function(evt){
        [13, 27].indexOf(evt.keyCode) > -1 && refreshBoxes()
    });


    var allF = document.getElementById("all-filter");
    allF.innerHTML = filterItems.join("\n");

    allF.addEventListener('click', function(evt){
        var res = evt.target.dataset.name;
        if (!res) return
        if (searchInput.value.indexOf(res) === -1){
            searchInput.value += res + ", ";
            refreshBoxes();
        }
    });

    toggleClassOnClick(document.getElementById('js-expander-trigger'), 'expander-hidden');


    /// ------------------ DONE FILTER

    _each(document.getElementsByClassName('project-box'), function(elem){
        elem.addEventListener('click', function(evt){
            if (elem.classList.contains("active-box")){
                window.location.hash = '';
            } else {
                window.location.hash = "#" + elem.id
                evt.preventDefault();
            }
        });
    });

    function moveToHash(evt){
        var hash = window.location.hash.slice(1);

        _each(document.getElementsByClassName('active-box'), function(elem){
            elem.classList.remove('active-box');
        });

        if (!hash) return evt && evt.preventDefault();
        var item = document.getElementById(hash);
        if (item) {
            item.classList.add("active-box");
            item.scrollIntoView({behavior: "smooth"});
        }
    }

    window.onhashchange = moveToHash;
    moveToHash();

})();
</script>